html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-image: url('/assets/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px;
    box-sizing: border-box;
}

.main-content {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.event-logo {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 80%;
}

.center {
    display: block;
    font-family: arial;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.gen-button {
    border: 3px solid white;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: Transparent;
    cursor: pointer;
}

input {
    border: 3px solid white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #333 !important;
}

.note {
    font-size: 17px;
    margin-top: 30px;
    padding: 5px;
}

.error {
    color: red;
    margin-top: 0px;
    padding: 5px;
}

.hidden {
    display: none;
}